{
  "protocol": "{{openhim_console_config_protocol}}",
  "host": "{{openhim_console_config_host}}",
  "port": {{openhim_console_config_port}},
  "title": "{{openhim_console_config_title}}",
  "footerTitle": "{{openhim_console_config_footerTitle}}",
  "footerPoweredBy": "{{openhim_console_config_footerPoweredBy}}",
  "loginBanner": "{{openhim_console_config_loginBanner}}"
}
